nav {
text-align: center;
background-color: rgba(255, 255, 255, 0.5); 
padding: 5px;
position: sticky;
top: 5px;
border-radius: 15px;
border-color: gray;
margin-bottom: 10px;
}

nav ul {
    padding: 0;
    margin: 0;
    margin-top: 25px;
}

nav li {
    list-style: none;
    display: inline-block;
    font-size: smaller;
    font-family: verdana;
    color: rgb(209, 209, 209);
}

nav a {
    color: black;
    text-decoration: none;
    padding: 20px 30px;
    color: rgb(144, 144, 144);
}

nav a:hover {
    font-weight: 900;
}

#Contactbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 15px;
    cursor: pointer; 
    border-color: black;
       
}

.Title {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0 auto;
}

#noimage {
    position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%)
}